body {
	background-color: #eee;
	color: black;
}

.loader {
	z-index: 9000;
	position: absolute;
	background-color: #eee;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	overflow: hidden;
	-webkit-transition : all ease 0.25s;
    -moz-transition : all ease 0.25s;
    -ms-transition : all ease 0.25s;
    -o-transition : all ease 0.25s;
    transition : all ease 0.25s;
	
}

.loader .loading {
	margin: auto;
}

.loader .loading-logo {
	padding-bottom: 4rem;
	color: black;
}

.loader.hidden {
	z-index: -9000;
	opacity: 0;
	pointer-events: none;
}

#root {
	z-index: 0;
}

.main {
	padding-top: 5rem;
	text-align: center;
}

.verification-form {
	padding-top: 2rem;
}